@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Serif", serif;
}

/*barra superior*/

.contact_whattsapp {
  z-index: -1;
}

.contact_whattsapp a img {
  float: right;
  width: 100px; /* Ancho en píxeles deseado */
  margin-left: 10px;
  margin-top: 50%;
  position: fixed;
}
.contact_whattsapp a img:hover {
  height: 85px;
}

.informacion__header {
  width: 100%;
  height: 5%;
  background-color: #305c79;
  position: relative;
}

.contact__header {
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.btn__date__header .btn__date {
  background-color: #fff;
  color: #305c79;
  border: none;
  width: 100px;
  height: 100%;
  font-size: 17px;
  cursor: pointer;
  padding: 5px;
}

.btn__date__header .btn__date:hover {
  background-color: #305c79;
  color: #fff;
}

.contact__icons__email {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.contact__icons__email .icons__header,
.contact__icons__email .email__header {
  margin-right: 8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact__icons__email .icons__header i {
  margin-right: 20px;
  font-size: 16px;
}

.contact__icons__email .email__header i {
  font-size: 12px;
  margin-right: 5px;
}

/*-----------------------------------------------------------------------------*/

/*header---------------------------------------------*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
  color: #305c79;
  background-color: #fff;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-left: 100px;
}

.logo img {
  height: 90px;
}

.list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 200px;
}

.list li a {
  position: relative;
}

.navbar .list li a::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #305c79;
  bottom: -8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s;
}

.navbar .list li a::after {
  content: "";
  position: absolute;
  right: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #305c79;
  bottom: -8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 0.45s;
}

.navbar .list li a:hover::before,
.navbar .list li a:hover::after {
  width: 50%;
}

.icons__nav {
  display: none;
}

#toggler,
.navbar label {
  display: none;
}

/* portada------------------------------- */

/* .content {
    position: absolute;

    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .content img {
    width: 100%;

  } */

.container-slider {
  margin: 0 0;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400%;
  height: 760px;
  margin-left: -100%;
  position: relative;
}
.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__section {
  width: 100%;
  position: relative;
}

.slider__content img {
  height: 200px;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover {
  background: #fff;
}
.slider__btn--left {
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 1;
}
.slider__title {
  font-size: 4.2em;
  margin: 0;
}
.slider__txt {
  margin: 5px 0;
  font-size: 20px;
}
.btn-shop {
  display: block;
  border: 2px solid #fff;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
  transition: all 0.5s;
}
.btn-shop:hover {
  background: #305c79;
  color: white;
  border: 2px solid #305c79;
}

.section__1 {
  display: grid;
  position: relative;
  color: #000;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section__1 h1 {
  font-size: 50px;
}

.section__1 h1::after,
.section__1 h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #305c79;
  top: 0.6em;
  box-shadow: 1px 1px 5px #305c79;
}

.section__1 h1::before {
  left: 140px;
}
.section__1 h1::after {
  right: 140px;
}

.section__about__me {
  display: flex;
  align-items: center;
  text-align: center;
  background-position: center;
  height: 100%;
  background: url(img/portada_2.jpg);
  background-attachment: fixed;
}

.information__about__me {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
}

.part__2 {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.box__about__me {
  display: grid;
  place-content: center;
}

.box__about__me img {
  height: 300px;
}

.box__about__me h2 {
  color: #fff;
  font-weight: 300;
}

.box__about__me h3 {
  color: #305c79;
}

.box__about__me h1 {
  color: #305c79;
}

.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.buttons button {
  width: 150px;
  height: 50px;
  background-color: white;
  margin: 20px;
  color: #305c79;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #305c79;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #305c79;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before,
.buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: #305c79;
}

.buttons button:hover:before,
.buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}

/* botones de contacto */

.btn__contact__me {
  position: relative;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  top: 4px;
}

.btn__contact__me button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #305c79;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 15px;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.btn__contact__me button i {
  font-size: 30px;
  color: #fff;
}

.btn__contact__me button:nth-child(1):hover {
  background-color: #2753a7;
}

.btn__contact__me button:nth-child(2):hover {
  background-color: #cd242b;
}

.btn__contact__me button:nth-child(3):hover {
  background-color: #55acee;
}

.btn__contact__me button:nth-child(4):hover {
  background-color: #26d366;
}

/* .title {
  color: #305c79;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
} */


.section__2{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.services{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
}

.card__services {
  width: 300px;
  cursor: pointer;
  height: 120px;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
    -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.card__services:hover {
  height: 260px;
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card__services .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #305c79;
  margin-bottom: 16px;
}

.card__services .header .img-box__services i {
  font-size: 50px;
  color: #fff;
}

.card__services .header .title {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all 0.5s;
  color: #fff;
}

.card__services:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card__services:hover .card__services .header .title {
  padding: 0;
}

.card__services .content {
  display: block;
  text-align: left;
  color: #212121;
  margin: 0 18px;
}

.card__services .content p {
  transition: all 0.5s;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.card__services .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card__services .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

@media screen and (max-width: 600px) {
  .contact_whattsapp a img {
    height: 60px;
    margin-top: 160%;
    margin-right: 4%;
  }
  .contact__icons__email .icons__header i {
    display: none;
  }

  .contact__icons__email .email__header i {
    font-size: 12px;
    margin-right: 5px;
  }

  .logo {
    margin-left: 0;
  }

  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 0px;
  }

  .icons__nav {
    display: flex;
  }
  .icons__nav i {
    padding: 20px;
    font-size: 30px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
  }

  .slider {
    height: 250px;
  }

  .slider__content {
    top: 58%;
  }

  .slider__title {
    font-size: 1em;
  }
  .slider__txt {
    font-size: 13px;
  }

  .slider__btn {
    width: 25px;
    height: 25px;
    font-size: 19px;
  }
  .btn-shop {
    width: 130px;
    padding: 5px;
    margin-bottom: 2px;
  }

  .slider__content img {
    height: 50px;
  }

  .section__about__me {
    background-size: cover;
  }

  .information__about__me {
    grid-template-columns: repeat(1, 1fr);
  }

  /* botones de contacto */

  .btn__contact__me {
    margin-bottom: 10px;
  }

  .section__1 h1 {
    font-size: 25px;
  }

  .section__1 h1::after,
  .section__1 h1::before {
    width: 20px;
  }

  .section__1 h1::before {
    left: 10px;
  }
  .section__1 h1::after {
    right: 10px;
  }
}
