@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@font-face {
  font-family: century;
  src: url(font/Century\ Gothic.ttf);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: century;
  /* font-family: "Noto Serif", serif; */
}

html {
  scroll-behavior: smooth;
}

.hidden {
  overflow: hidden;
}

.loader__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 999;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #305c79 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn__whattsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: ease 0.3s;
  animation: efecto_whatsapp 1.2s infinite;
}

.btn__whattsapp:hover {
  background: #20ba5a;
  transform: scale(1.1);
  transition: 0.3s;
}

@keyframes efecto_whatsapp {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  100% {
    box-shadow: 0 0 0 25px #25d36500;
  }
}

/*barra superior*/

.contact_whattsapp {
  z-index: -1;
}

.contact_whattsapp a img {
  float: right;
  width: 100px; /* Ancho en píxeles deseado */
  margin-left: 10px;
  margin-top: 50%;
  position: fixed;
}
.contact_whattsapp a img:hover {
  height: 85px;
}

.informacion__header {
  width: 100%;
  height: 5%;
  background-color: #305c79;
  position: relative;
}

.contact__header {
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.btn__date__header .btn__date {
  background-color: #ff6600;
  border: none;
  height: 100%;
  font-size: 17px;
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.btn__date__header .btn__date a {
  color: #fff;
}

.btn__date__header .btn__date:hover {
  background-color: #305c79;
  color: #fff;
}

.contact__icons__email {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.contact__icons__email .icons__header,
.contact__icons__email .email__header {
  margin-right: 8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact__icons__email .email__header i {
  margin-right: 2%;
}

.email__header {
  width: 100%;
}

.email__header p {
  white-space: nowrap;
}

.contact__icons__email .icons__header i {
  margin-right: 25px;
  font-size: 16px;
  color: #fff;
}

.contact__icons__email .icons__header a i:hover {
  color: #bbb8b8;
}

.contact__icons__email .email__header a i {
  font-size: 12px;
  margin-right: 5px;
}

/*-----------------------------------------------------------------------------*/

/*header---------------------------------------------*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
  color: #305c79;
  background-color: #fff;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-left: 100px;
}

.logo img {
  height: 90px;
}

.list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 200px;
}

.list li a {
  position: relative;
  font-size: 20px;
}

.navbar .list li a::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #305c79;
  bottom: -8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s;
}

.navbar .list li a::after {
  content: "";
  position: absolute;
  right: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #305c79;
  bottom: -8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 0.45s;
}

.navbar .list li a:hover::before,
.navbar .list li a:hover::after {
  width: 50%;
}

.icons__nav {
  display: none;
}

#toggler,
.navbar .label__toggler {
  display: none;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__ {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #305c79;
  transition: 0.4s;
  border-radius: 30px;
}

.slider__:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #305c79;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover.sun svg {
  animation: rotate 15s linear infinite;
} */

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover.moon svg {
  animation: tilt 5s linear infinite;
} */

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input__language:checked + .slider__ {
  background-color: #305c79;
}

.input__language:focus + .slider__ {
  box-shadow: 0 0 1px #305c79;
}

.input__language:checked + .slider__:before {
  transform: translateX(30px);
}

/* portada------------------------------- */
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.frontpage {
  width: 100%;
  height: 100vh;
  background-image: url(img/Portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.frontpage__grid {
  text-align: center;
  color: #fff;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-wrap: balance;
  position: absolute;
  top: 66%;
  left: 30%;
  color: #000;
  transform: translate(-50%, -50%);
}

.front1 {
  filter: drop-shadow(
    0 4px 8px rgba(0, 0, 0, 0.4)
  ); /* Ajusta los valores según tus preferencias */
}
.front2 {
  filter: drop-shadow(
    0 4px 8px rgba(0, 0, 0, 0.4)
  ); /* Ajusta los valores según tus preferencias */
}
.box__frontpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.box__frontpage.front2 {
  color: #305c79;
  
}



.box__frontpage img {
  width: 30%;
}

.frontpage__btn {
  background-color: #305c79;
}

.principle_mouse {
  position: absolute;
  top: 104%;
  left: 50%;
  color: #305c79;
  transform: translate(-50%, -50%);
}

.mouse-btna {
  margin: 10px auto;
  width: 40px;
  height: 80px;
  border: 3px solid #305c79;
  border-radius: 20px;
  display: flex;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: linear-gradient(170deg, #305c79, rgb(255, 255, 255));
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}
.container-slider {
  margin: 0 0;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400%;
  height: 760px;
  margin-left: -100%;
  position: relative;
}
.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title__asterion {
  display: none;
}

.slider__section {
  width: 100%;
  position: relative;
}

.slider__content img {
  height: 300px;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover {
  background: #305c79;
}
.slider__btn--left {
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content {
  position: absolute;
  top: 50%;
  left: 70%;
  color: #000;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 1;
}
.slider__title {
  font-size: 4.2em;
  margin: 0;
}
.slider__txt {
  margin: 5px 0;
  font-size: 20px;
}
.btn-shop {
  display: block;
  border: 2px solid #305c79;
  color: #305c79;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
  transition: all 0.5s;
}
.btn-shop:hover {
  background: #fff;
  color: #305c79;
  border: 2px solid #fff;
}

.section__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #305c79;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section__1 h1 {
  font-size: 50px;
}

.line_one {
  width: 70%;
}

/* .section__1 h1::after,
.section__1 h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #305c79;
  top: 0.6em;
  box-shadow: 1px 1px 5px #305c79;
}

.section__1 h1::before {
  left: 140px;
}
.section__1 h1::after {
  right: 140px;
} */

.about__me__section {
  width: 100%;
}

.information__aboutme {
  text-align: center;
  color: #305c79;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-wrap: balance;
  place-content: center;
}

.box__aboutme__ {
  font-size: 22px;
  font-weight: 600;
  display: grid;
  place-content: center;
}

.box__aboutme__.background {
  background-color: #305c79;
  color: #fff;
}
.box__aboutme__.background_2 {
  background-color: #fff;
  color: #305c79;
}

.box__aboutme__ img {
  width: 100%;
  background-size: cover;
}

.box__aboutme__ p {
  margin: 10px;
}

.text__area {
  text-align: left;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more {
  width: 12rem;
  height: auto;
}
.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

.information__about__me {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
}

.part__2 {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  top: 20px;
  left: 20px;
}

.buttons .btn {
  text-align: center;
}
.buttons.bluebackground button {
  background-color: #fff;
  color: #305c79;
}

.buttons button {
  width: 150px;
  height: 50px;
  background-color: #305c79;
  color: #fff;
  margin: 20px;

  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before,
.buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.buttons.bluebackground button p:after {
  content: attr(data-text);
  top: 150%;
  color: #305c79;
}

.buttons.bluebackground button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
  color: #305c79;
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: #fff;
}

.buttons button:hover:before,
.buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}

.btn__contact__me button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #305c79;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 15px;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.btn__contact__me button i {
  font-size: 30px;
  color: #fff;
}

.btn__contact__me button:nth-child(1):hover {
  background-color: #2753a7;
}

.btn__contact__me button:nth-child(2):hover {
  background-color: #cd242b;
}

.btn__contact__me button:nth-child(3):hover {
  background-color: #55acee;
}

.btn__contact__me button:nth-child(4):hover {
  background-color: #26d366;
}

/* .title {
  color: #305c79;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
} */

.section__2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}

.primary__services {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
  text-wrap: balance;
  margin-bottom: 2%;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
  width: 100%;
  max-width: 1500px;
}

.services .card.secundary {
  height: 200px;
}

.section__2 .card {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #305c79;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 20px solid #326b92;
}

.information__card {
  text-align: center;
  color: #fff;
}

.section__2 .fa-solid.fa-eye {
  font-size: 25px;
  margin-top: 10%;
}
.section__2 .card i {
  font-size: 48px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section__2 .card:hover {
  transform: scale(1.05);
}

.section__2 .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section__2 .card:hover .card__content {
  transform: rotateX(0deg);
}

.section__2 .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.section__2 .card:hover svg {
  scale: 0;
}

.section__2 .card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.section__notices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.notices {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
}

.card__notices {
  padding: 20px;
  max-width: 500px;
  height: 460px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 5px 5px 6px #0d0d0d32, -5px -5px 6px #0d0d0d32;
  transition: 0.4s;
  font-family: "Merriweather", serif;
}

.card__notices:hover {
  translate: 0 -10px;
}

.card-title:hover {
  text-decoration: underline;
}

.card__notices .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #305c79;
  margin: 15px 0 0 10px;
}

.card__notices .card-image {
  min-height: 180px;
  width: 100%;
}

.card__notices .card-image a img {
  width: 500px;
}

.card__notices .card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.card__notices .card__final {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
}

.card-link {
  margin: 13px 0 0 10px;
  font-size: 16px;
  color: #305c79;
  font-weight: 700;
}

.card-link:hover {
  text-decoration: underline;
}

.card__notices .by-name {
  font-weight: 700;
}

.contact {
  background-color: #305c79;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.contact_form h1 {
  font-size: 50px;
  padding: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.contact_form p {
  font-size: 15px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.box__contact__form {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  text-wrap: balance;
  color: #fff;
}

.contact__grid {
  display: grid;
  place-content: center;
}

.input {
  position: relative;
  width: 300px;
  border: none;
  box-shadow: 0px 1.5px 0px 0px #fff;
  padding: 1rem;
  transition: all 200ms ease-in-out;
  background: #ffffff;
  font-size: 1rem;
}

.contact__grid h1 {
  font-size: 30px;
  padding: 5px;
  color: #fff;
  border: none;
  text-align: left;
}

.dates_personal {
  display: flex;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.dates_personal p i {
  margin-right: 3%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 4px;
  margin-left: 1px;
}

.input-helper {
  color: #fff;
  font-size: 0.5rem;
  margin-top: 6px;
  margin-left: 1px;
  visibility: hidden;
  transform: translateY(-0.5rem);
  transition: all 100ms linear;
  z-index: 1;
}

.input::placeholder {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

.input::after {
  content: attr(placeholder);
  position: absolute;
  color: #161616;
  top: 0;
  left: 0;
}

.input:focus {
  border: none;
  box-shadow: 0px 1.5px 0px 0px #fff;
  outline: none;
}

.input:focus + .input-helper {
  visibility: visible;
  transform: translateY(0rem);
}

.input:focus::placeholder {
  visibility: hidden;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #305c79;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .whattsapp:hover,
.wrapper .whattsapp:hover .tooltip,
.wrapper .whattsapp:hover .tooltip::before {
  background: #25d366;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #305c79;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 220px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p a {
  color: #efefef;
  margin-bottom: 16px;
}
.pie-pagina .grupo-1 .box p {
  margin-bottom: 16px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #305c79;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #305c79;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .btn__whattsapp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .contact_whattsapp a img {
    width: 80px;
    margin-top: 160%;
    margin-right: 4%;
    z-index: 99;
  }

  .contact__icons__email .icons__header,
  .contact__icons__email .email__header {
    margin-right: 0;
  }

  .contact__icons__email .email__header i {
    font-size: 12px;
    margin-right: 5px;
  }

  .logo {
    margin-left: 0;
  }
  .logo img {
    height: 60px;
  }

  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 0px;
  }

  .title__asterion {
    display: flex;
  }

  .icons__nav {
    display: flex;
  }
  .icons__nav i {
    padding: 20px;
    font-size: 30px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
    animation: scale-up-center 0.4s;
  }

  .frontpage__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box__frontpage.front2 {
    color: #fff;
  }

  .front1 {
    display: none;
  }

  .frontpage__btn {
    background-color: #fff;
  }

  .principle_mouse {
    color: #fff;
  }

  .mouse-btna {
    border: 3px solid #fff;
  }

  .information__aboutme {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__t__me {
    background-size: cover;
  }

  .information__about__me {
    grid-template-columns: repeat(1, 1fr);
  }

  /* botones de contacto */

  .btn__contact__me {
    margin-bottom: 10px;
  }
  .section__1 {
    margin-top: 12%;
  }

  .section__1 h1 {
    font-size: 25px;
  }

  .box__aboutme2 h1 {
    font-size: 25px;
  }

  .aboutme {
    margin-top: 3%;
  }

  .box__aboutme2 p {
    font-size: 13px;
  }

  .section__1 p {
    font-size: 13px;
  }

  .section__1 h1::after,
  .section__1 h1::before {
    width: 20px;
  }

  .section__1 h1::before {
    left: 10px;
  }
  .section__1 h1::after {
    right: 10px;
  }

  .section__2 {
    display: grid;
    place-content: center;
    margin-top: 0px;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    place-content: center;
  }

  .primary__services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  .services .card.secundary {
    height: 150px;
  }

  .section__2 .card {
    width: 280px;
  }

  .section__2 .fa-solid.fa-eye {
    font-size: 25px;
    margin-top: 10%;
  }
  .section__2 .card i {
    font-size: 48px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .section__2 .card:hover {
    transform: scale(1.05);
  }

  .section__2 .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .section__2 .card:hover .card__content {
    transform: rotateX(0deg);
  }

  .section__2 .services .card__title {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 700;
  }

  .section__2 .services .card__description {
    font-size: 10px;
  }

  .section__notices {
    display: grid;
    place-content: center;
  }

  .notices {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .card__notices {
    padding: 20px;
    max-width: 300px;
    height: 420px;
  }

  .card__notices .card-image {
    min-height: 180px;
  }

  .card__notices .card-image a img {
    width: 300px;
  }

  .contact_form h1 {
    font-size: 25px;
  }

  iframe {
    width: 300px;
  }

  .box__contact__form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .contact__grid {
    display: grid;
    place-content: center;
  }

  .input {
    position: relative;
    width: 300px;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #fff;
    padding: 1rem;
    transition: all 200ms ease-in-out;
    background: #ffffff;
    font-size: 1rem;
  }

  .contact__grid h1 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .dates_personal {
    flex-direction: column;
  }

  .section__about__me__2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

@media screen and (max-width: 400px) {
  .contact__icons__email .email__header p {
    font-size: 12px;
    margin-right: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .btn__whattsapp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .contact_whattsapp a img {
    width: 80px;
    margin-top: 160%;
    margin-right: 4%;
    z-index: 99;
  }

  .title__asterion {
    display: flex;
  }
  .contact__icons__email .icons__header i {
    display: none;
  }

  .contact__icons__email .icons__header,
  .contact__icons__email .email__header {
    margin-right: 0;
  }

  .contact__icons__email .email__header i {
    font-size: 12px;
    margin-right: 5px;
  }

  .logo {
    margin-left: 0;
  }
  .logo img {
    height: 60px;
  }

  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 0px;
  }

  .icons__nav {
    display: flex;
  }
  .icons__nav i {
    padding: 20px;
    font-size: 30px;
  }

  .navbar .label__toggler {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
    animation: scale-up-center 0.4s;
  }

  .frontpage__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box__frontpage.front2 {
    color: #fff;
  }

  .frontpage {
    background-position: 77% bottom;
  }

  .front1 {
    display: flex;
  }

  .frontpage__btn {
    background-color: #fff;
  }

  .principle_mouse {
    color: #fff;
  }

  .mouse-btna {
    border: 3px solid #fff;
  }

  .information__aboutme {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__t__me {
    background-size: cover;
  }

  .information__about__me {
    grid-template-columns: repeat(1, 1fr);
  }

  /* botones de contacto */

  .btn__contact__me {
    margin-bottom: 10px;
  }
  .section__1 {
    margin-top: 12%;
  }

  .section__1 h1 {
    font-size: 25px;
  }

  .box__aboutme2 h1 {
    font-size: 25px;
  }

  .aboutme {
    margin-top: 3%;
  }

  .box__aboutme2 p {
    font-size: 14px;
  }

  .section__1 p {
    font-size: 14px;
  }

  .text__area {
    font-size: 17px;
  }

  .section__1 h1::after,
  .section__1 h1::before {
    width: 20px;
  }

  .section__1 h1::before {
    left: 10px;
  }
  .section__1 h1::after {
    right: 10px;
  }

  .section__2 {
    display: grid;
    place-content: center;
    margin-top: 0px;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    place-content: center;
  }

  .primary__services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  .services .card.secundary {
    height: 150px;
  }

  .section__2 .card {
    width: 280px;
  }

  .section__2 .fa-solid.fa-eye {
    font-size: 25px;
    margin-top: 10%;
  }
  .section__2 .card i {
    font-size: 48px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .section__2 .card:hover {
    transform: scale(1.05);
  }

  .section__2 .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .section__2 .card:hover .card__content {
    transform: rotateX(0deg);
  }

  .section__2 .services .card__title {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 700;
  }

  .section__2 .services .card__description {
    font-size: 10px;
  }

  .section__notices {
    display: grid;
    place-content: center;
  }

  .notices {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .card__notices {
    padding: 20px;
    max-width: 300px;
    height: 420px;
  }

  .card__notices .card-image {
    min-height: 180px;
  }

  .card__notices .card-image a img {
    width: 300px;
  }

  .contact_form h1 {
    font-size: 25px;
  }

  iframe {
    width: 300px;
  }

  .box__contact__form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .contact__grid {
    display: grid;
    place-content: center;
  }

  .input {
    position: relative;
    width: 300px;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #fff;
    padding: 1rem;
    transition: all 200ms ease-in-out;
    background: #ffffff;
    font-size: 1rem;
  }

  .contact__grid h1 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .dates_personal {
    flex-direction: column;
  }

  .section__about__me__2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
